<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>XSL Transformer</string>
	<key>uuid</key>
	<string>AA725FC7-AD81-4F46-A3BC-7E6B831A9039</string>
</dict>
</plist>
